<%- include('../layout/header.ejs') %>
<div class="container">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <h1 class="display-1 mt-3">Contact Us</h1>
  <form method="GET" action="<%= req.baseUrl %>/contact">
    <div class="form-group mt-3">
      <label for="email">E-mail</label>
      <input
        type="text"
        class="form-control"
        name="email"
        id="email"
        placeholder="E-mail"
        value="<%= email %>"
      />
    </div>
    <div class="form-group mt-3">
      <label for="message">Message</label>
      <textarea
        class="form-control"
        name="message"
        id="message"
        placeholder="Write something here"
      ><%= message %></textarea
      >
    </div>
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
  </form>
</div>

<%- include('../layout/footer.ejs') %>
