<%- include('../layout/header.ejs') %>

<div class="container">
    <a class="nav-link float-end" href="/pages/">Back</a>
    <h3 class="display-4 mt-3">Welcome Guest!</h3>
    
    <ul class="nav mb-3 d-flex">
        <li class="nav-item">
            <a class="nav-link" href="/pages/contact">Contact</a>
        </li>
        <li class="w-auto"></li>
        <li class="nav-item">
            <a class="nav-link" href="/pages/signin">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pages/signup">Sign Up</a>
        </li>
        </li>
    </div>

<%- include('../layout/footer.ejs') %>