<%- include('../layout/header.ejs') %>

<div class="container">
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <a class="nav-link float-end" href="/pages/">Back</a>
  <h1 class="display-1 mt-3">About Us</h1>
  <p>Paleo selvage vaporware DIY man bun put a bird on it pour-over quinoa hexagon williamsburg iPhone street art leggings poke. Edison bulb pour-over waistcoat polaroid, bespoke banh mi XOXO skateboard meggings listicle ramps vinyl salvia. Tattooed intelligentsia helvetica cornhole letterpress cronut celiac you probably haven't heard of them photo booth asymmetrical unicorn paleo cloud bread vice. Hashtag hot chicken health goth sriracha, cred vinyl fixie tumeric poke normcore waistcoat. Mlkshk shoreditch craft beer typewriter bitters.</p>
</div>

<%- include('../layout/footer.ejs') %>
