<%- include('../layout/header.ejs') %>

<div class="container">
  <a class="nav-link float-end" href="/pages/">Back</a>
  <h1 class="display-1 mt-3">Sign In</h1>
  <form>
    <div class="form-group mt-3">
      <label for="email">E-mail</label>
      <input
        type="text"
        class="form-control"
        name="email"
        id="email"
        placeholder="E-mail"
      />
    </div>
    <div class="form-group mt-3">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
  </form>
</div>

<script>
  const form = document.querySelector('form');
  form.onsubmit = function(event){
      event.preventDefault();

      const formData = new FormData(form)

      fetch('http://localhost:3000/api/users/signin',{
          method:'POST',
          headers:{'Content-Type':'application/json' },
          body: JSON.stringify( Object.fromEntries( formData.entries() ) )
      })
      .then(res => res.json)
      .then(console.log)
  }
</script>

<%- include('../layout/footer.ejs') %>
